{% extends "Client/partial/main.html" %} {% block main %}
<div class="container buy">
    <input type="hidden" name="orderId" id="orderId" value="{{orderId}}">
    <div class="img">
        <img class="cartoon" src="">
    </div>
</div>
<div class="buy" style="display:none;">
    <video id="video" style="display:none;" width="640" height="480" autoplay></video>
    <canvas id="canvas1" style="display:none;" width="640" height="480"></canvas>
    <canvas id="canvas2" style="display:none;" width="640" height="480"></canvas>
    <canvas id="canvas3" style="display:none;" width="640" height="480"></canvas>
</div>
<script type="text/javascript" src="/default/assets/js/Client/buy.js"></script>
{% endblock %}