{% extends "Client/partial/main.html" %} {% block main %}
<style type="text/css">

</style>
<div class="container index">
    <!-- <input type="hidden" id="awstoken" value={{awstoken}} >
    <input type="hidden" id="shopId" value={{shopId}} > -->
    <div class="row">
        <button type="button" id="btnAdmin" class="btn btn-primary">管理登录</button>
    </div>
    <marquee scrollamount="1" style="height: 30px; background-color: #ffd600;" id="">
        嘿！我是小蓝盒子，点我可以有你想不到的惊喜
    </marquee>
    <div class="button">
        <button type="button" class="btn btn-warning toBuy">Let's GO</button>
    </div>
    <div class="img">
        <img class="cartoon" src="">
    </div>
    <div class="video" style="display:none;">
        <video id="video" style="object-fit: fill;" loop="true" src="../uploads/videos/adv.mp4"></video>
    </div>
</div>
<script type="text/javascript" src="/default/assets/js/Client/index.js"></script>
{% endblock %}