{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="content_body manage">
    <div>
        <div class="">
            <button id="btnRestart" class="btn btn-default btn-sm">重启</button>
            <button id="btnClose" class="btn btn-default btn-sm">关机</button>
            <button id="btnLock" class="btn btn-default btn-sm">锁定</button>
            <button id="btnUnLock" class="btn btn-default btn-sm">解锁</button>
            <button id="btnExit" class="btn btn-default btn-sm">退出</button>
        </div>
    </div>
    <div class="toolbar">
        <div class="toolbar-list">
            <button id="btnFull" class="btn btn-default btn-sm">全部填满</button>
            <button id="btnEmpty" class="btn btn-default btn-sm">全部清空</button>
            <button id="btnRefresh" class="btn btn-default btn-sm">刷新</button>
            <button id="btnSave" class="btn btn-default btn-sm">保存</button>
        </div>
    </div>
    <div class="paths">

    </div>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-dialog" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="goodList">

                    </div>
                    <input type="hidden" class="form-control" name="id" id="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="mykb-box" style="top: 52.2px; left: 190px; display: none;">
    <ul class="num-key clearfix">
        <li class="num">1</li>
        <li class="num">2</li>
        <li class="num">3</li>
        <li class="num">0</li>
        <li class="num">4</li>
        <li class="num">5</li>
        <li class="num">6</li>
        <li class="func del">退格</li>
        <li class="num">7</li>
        <li class="num">8</li>
        <li class="num">9</li>
        <li class="func clearall">清除</li>
    </ul>
</div>
<script type="text/javascript" src="/default/assets/js/bootstrapValidation.js"></script>
<script type="text/javascript" src="/default/assets/js/Client/manage.js"></script>
{% endblock %}