{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="personalCenter">
    <div class="weui-cells__title" style="text-align: center;">我的隐患提报</div>
</div>
<div class="weui-btn-area">
    <a href="javascript:;" class="weui-btn weui-btn_primary more" style="display:none">更多内容</a>
</div>
<script type="text/html" id="tpl_secureDetail">
    <div class="weui-panel">
        <div class="weui-panel__hd">地点</div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text detail">
                <article class="weui-article" style="padding:0">
                    <section>
                        <section>
                            <p>
                                <img src="./images/pic_article.png" alt="">
                            </p>
                            <p class="desc">
                                问题描述
                            </p>
                        </section>
                    </section>
                </article>
                <ul class="weui-media-box__info">
                    <li class="weui-media-box__info__meta">时间：</li>
                </ul>
            </div>
            <div class="weui-media-box weui-media-box_text result">
                <h5 class="weui-media-box__title" style="color: #999;font-size: 13px;">处理结果:</h5>
            </div>
            <div class="weui-media-box weui-media-box_text result">
                <article class="weui-article" style="padding:0">
                    <section>
                        <section>
                            <p>
                                <img src="./images/pic_article.png" alt="">
                            </p>
                            <p class="desc">
                                处理结果
                            </p>
                        </section>
                    </section>
                </article>
                <ul class="weui-media-box__info">
                    <li class="weui-media-box__info__meta">时间：</li>
                </ul>
            </div>
        </div>
    </div>
</script>
<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="/default/assets/js/Client/myreport.js"></script>
{% endblock %}