{% extends "Client/partial/wechat-header.html" %} {% block main %}
<div class="personalCenter">
    <div class="my">
        <div class="top-mod weui-flex">
            <div>
                <div>{{user.name}}</div>
            </div>
        </div>
        <div class="weui-cells" style="margin-top:0">
            <a class="weui-cell weui-cell_access meupload" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>我提交的隐患</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            <a class="weui-cell weui-cell_access tome" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>我负责的隐患</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            {% if user.role == 100 %}
            <a class="weui-cell weui-cell_access alldanger" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>所有隐患</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript" src="/default/assets/js/Client/personalCenter.js"></script>
{% endblock %}