{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="login content_body">
    <form id="loginForm" method="post" action="/reg">
        <div class="form-group">
            {% if error %}
            <label style="color:#a94442">{{ error }}</label> {% endif %}
        </div>
        <div class="form-group">
            <label>用户名(手机号)</label>
            <input class="form-control" maxlength="11" maxlength="20" type="text" name="name" />
        </div>
        <div class="form-group">
            <label>密码(6-15位)</label>
            <input class="form-control" maxlength="15" type="password" name="password" />
        </div>
        <div class="form-group">
            <label style="height:34px;">&nbsp;</label>
            <input class="pull-right btn btn-large btn-primary" type="submit" value="注册" />
        </div>
    </form>
</div>
<script type="text/javascript" src="/default/assets/js/bootstrapValidation.js"></script>
<script type="text/javascript" src="/default/assets/js/Client/reg.js"></script>
{% endblock %}