{% extends "Client/partial/wechat-header.html" %} {% block main %}
<div class="container">
    <div class="advContainer" style="padding:0 10px;">
        <a href="http://www.dushidao.com" target="_blank">
            <img style="width:100%;"
                src="https://img30.360buyimg.com/jr_image/jfs/t16462/117/2187415061/61479/1405909f/5a979c89N2c950d3d.png" />
        </a>
    </div>
    <div class="weui-cells__title center-title">
        <div class="weui-cell">
            <div class="weui-cell__ft">
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default prev">上个月</a>
            </div>
            <div class="weui-cell__bd" style="text-align: center;">
                <span class="curDate"></span>
            </div>
            <div class="weui-cell__ft">
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default next">下个月</a>
            </div>
        </div>
    </div>
    <div class="salaryItems">

    </div>
</div>
<input type="hidden" id="salaryMonth" value="{{ salaryMonth }}">
<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="/default/assets/js/Client/salaryList.js"></script>
{% endblock %}