/* body {
    background-color: #f8f8f8;
} */

body {
    background-color: #f8f8f8;
    background-image: url(../../../../uploads/images/bg.jpg);
}

.container.index,
.container.focus,
.container.buy {
    background-image: url(../../../../uploads/images/front.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: auto 100%;
}

footer,
.container {
    margin: 0 auto;
    width: 100%;
    background-color: transparent;
    /* background-color: #f8f8f8; */
}

* {
    padding: 0;
    margin: 0;
}

@media (min-width: 360px) {
    .nav-bar-header {
        height: 112.5px;
    }
}

@media (min-width: 414px) {
    .nav-bar-header {
        height: 129.375px;
    }
}

@media (min-width: 540px) {
    .nav-bar-header {
        height: 168.75px;
    }
}

.login #loginForm {
    width: 300px;
    margin: 10px auto;
    color: #fff;
}

.manage {
    color: #fff;
}

.manage .paths table {
    width: 100%;
    text-align: center;
}

.manage .paths table td,
#myModal .goodList table td {
    padding: 10px;
}

.manage .paths table td .count {
    width: 80px;
    display: inline-block;
}

.manage .mykb-box {
    position: absolute;
    top: 10px;
    left: 10px;
}

.mykb-box .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.mykb-box {
    width: 360px;
    height: 270px;
    background: rgba(0, 0, 0, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    box-shadow: 0 0 5px rgb(43, 42, 42);
    padding: 0;
    border-radius: 5px;
    user-select: none;
    -ms-user-select: none;
    position: absolute;
    display: none;
}

.mykb-box ul,
.mykb-box li {
    list-style: none;
}

.mykb-box li {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: #f5f5f5;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
    float: left;
    box-shadow: 0px 2px 1px #000;
    color: #1b50a2;
    font-size: 24px;
    cursor: pointer;
}

.mykb-box li.active {
    box-shadow: 0px -2px 1px #000;
}

.mykb-box .func {
    color: #fff;
}

.mykb-box .exit {
    background: #F44336;
}

.mykb-box .del {
    background: #ff9800
}

.mykb-box .clearall {
    background: #2196F3
}

.mykb-box .sure {
    background: #4CAF50;
    width: 190px;
}

.manage .paths table img,
#myModal .goodList table img {
    width: 100%;
    max-width: 200px;
    border: #ddd solid 1px;
}

#myModal .goodList {
    overflow-x: scroll
}

.container.index #video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container.index .toBuy {
    display: block;
    margin: 50px auto 0;
    font-size: 120px;
}

.container.index .img .cartoon {
    margin: 10px auto 0;
    width: 200px;
    height: 400px;
    display: block;
}

.container.focus .img .cartoon,
.container.buy .img .cartoon {
    margin: 300px auto 0;
    width: 200px;
    height: 400px;
    display: block;
}