body {
    background-color: #f8f8f8;
}

footer,
.container {
    margin: 0 auto;
    width: 100%;
    background-color: #f8f8f8;
}

@media (min-width: 360px) {
    .nav-bar-header {
        height: 112.5px;
    }
}

@media (min-width: 414px) {
    .nav-bar-header {
        height: 129.375px;
    }
}

@media (min-width: 540px) {
    .nav-bar-header {
        height: 168.75px;
    }
}