<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>百分百学校</title>
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css" />
    <link rel="stylesheet" href="/default/assets/css/Wechat/main.css">
    <link rel="stylesheet" href="/default/assets/css/font-awesome.css" />
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
</head>

<body>
    {% block main %}{% endblock %}
    <div id="confirmModal" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">
            </div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" id="btnCancel" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                <a href="javascript:;" id="btnSure" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
            </div>
        </div>
    </div>
    <div id="loadingIndicator" style="display:none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </div>
    <script type="text/javascript" src="/default/assets/js/Wechat/index.js"></script>
</body>

</html>