<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>百分百学校</title>
    <link rel="stylesheet" href="/default/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/default/assets/css/Client/main.css?v=1.000">
    <link rel="stylesheet" href="/default/assets/css/formValidation.css">
    <script type="text/javascript" src="/default/assets/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/default/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/default/assets/js/formValidation.js"></script>
</head>

<body>
    {% block main %}{% endblock %}
    <footer class="text-center">
        Copyright&copy;百分百 2017, All Rights Reserved.
    </footer>
    <script type="text/javascript" src="/default/assets/js/Client/index.js?v=1.000"></script>
</body>

</html>