{% extends "danger/partial/header.html" %} {% block main %}
<main class="col-md-24">
    <div class="login content_body">
        <form method="post">
            <a
                href="https://open.work.weixin.qq.com/wwopen/sso/3rd_qrConnect?appid=wwb50dd79078e140ef&redirect_uri=http%3A%2F%2Fpeople.dushidao.com%2Fdanger%2Fautologin&state=web_login&usertype=admin"><img
                    src="//rescdn.qqmail.com/node/wwopen/wwopenmng/style/images/independent/brand/300x40_white$5ecdf536.png"
                    srcset="//rescdn.qqmail.com/node/wwopen/wwopenmng/style/images/independent/brand/300x40_white_2x$ce44f9f2.png 2x"
                    alt="企业微信登录"></a>
        </form>
    </div>
</main>
{% endblock %}