{% extends "Wechat/partial/main-header.html" %} {% block main %}
<div class="weui-cells__title" style="text-align: center;">登录：{{websiteTitle}}</div>
<div id="loginForm" class="login content_body weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">用户名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="手机号" maxlength="20" type="text" name="name" id="name" />
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">密码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="密码" autocomplete="new-password" maxlength="15" type="password" name="password"
                id="password" />
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary weui-btn_disabled" disabled href="javascript:" id="btnLogin">登录</a>
    </div>
</div>
<!--modal-->
<script type="text/javascript" src="/default/assets/js/Wechat/admin_login.js"></script>
{% endblock %}