{% extends "Server/partial/main_company.html" %}
{% block left %} {% include "Server/partial/companySetting.html" %} {% endblock
%} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-inline">
                <div class="form-group">
                    <label for="Name" class="control-label">名称:</label>
                    <input type="text" maxlength="30" class="form-control" name="Name" id="Name">
                </div>
                <button type="button" id="btnSearch" class="btn btn-primary panelButton">查询</button>
            </div>
        </form>
    </div>
</div>
<div class="toolbar">
    <div class="toolbar-list">
        <button id="btnAdd" class="btn btn-default btn-sm">新增</button>
    </div>
</div>
<div class="content mainModal">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:150px;">管理员</th>
                <th style="width:200px;">所属分店</th>
                <th style="width:100px;">角色</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="gridBody">
        </tbody>
    </table>
</div>
<div id="mainModal">
    {% include "Server/partial/popuppaging.html" %}
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name" class="control-label">名称:</label>
                        <input type="text" maxlength="30" class="form-control" required name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="userPwd" class="control-label">密码:</label>
                        <input type="password" maxlength="15" class="form-control" name="userPwd" id="userPwd">
                    </div>
                    <div class="form-group">
                        <label for="role" class="control-label">角色:</label>
                        <select name="role" id="role" class="form-control">
                            <option value="5">管理员</option>
                        </select>
                    </div>
                    <input type="hidden" class="form-control" name="id" id="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnSave" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/default/assets/js/Server/adminList.js"></script>
{% endblock %}