{% extends "Server/partial/main_company.html" %}
{% block left %} {% include "Server/partial/companySetting.html" %} {%
endblock %} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name" class="control-label">名称:</label>
                        <input type="text" maxlength="30" class="form-control" name="Name" id="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" id="btnSearch" class="btn btn-primary panelButton">查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="toolbar">
    <div class="toolbar-list">
        <button id="btnAdd" class="btn btn-default btn-sm">新增</button>
    </div>
</div>
<div class="content mainModal">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:150px;">公司名称</th>
                <th style="width:200px;">微信appId</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="gridBody">
        </tbody>
    </table>
</div>
<div id="mainModal">
    {% include "Server/partial/popuppaging.html" %}
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name" class="control-label">名称:</label>
                        <input type="text" maxlength="50" class="form-control" required name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label">描述:</label>
                        <textarea rows="2" style="resize:none" maxlength="100" class="form-control" name="description"
                            id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="sequence" class="control-label">顺序:</label>
                        <input type="number" maxlength="10" class="form-control" name="sequence" required id="sequence"
                            value="0">
                    </div>
                    <div class="form-group">
                        <label for="we_appId" class="control-label">微信appId:</label>
                        <input type="text" maxlength="32" class="form-control" name="we_appId" id="we_appId">
                    </div>
                    <div class="form-group">
                        <label for="we_appSecret" class="control-label">微信Secret:</label>
                        <input type="text" maxlength="32" class="form-control" name="we_appSecret" id="we_appSecret">
                    </div>
                    <div class="form-group">
                        <label for="we_mch_id" class="control-label">微信mch_id:</label>
                        <input type="text" maxlength="32" class="form-control" name="we_mch_id" id="we_mch_id">
                    </div>
                    <div class="form-group">
                        <label for="we_Mch_key" class="control-label">微信Mch_key:</label>
                        <input type="text" maxlength="32" class="form-control" name="we_Mch_key" id="we_Mch_key">
                    </div>
                    <input type="hidden" class="form-control" name="id" id="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnSave" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/default/assets/js/Server/companyList.js"></script>
{% endblock %}