{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/superGoodSetting.html" %} {%
endblock %} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name" class="control-label">名称:</label>
                        <input type="text" maxlength="30" class="form-control" name="Name" id="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" id="btnSearch" class="btn btn-primary panelButton">查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="toolbar">
    <div class="toolbar-list">
        <button id="btnAdd" class="btn btn-default btn-sm">新增</button>
    </div>
</div>
<div class="content mainModal">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:150px;">名称</th>
                <th style="width:80px;">顺序</th>
                <th style="width:200px;">种类</th>
                <th style="width:100px;">价格</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="gridBody">
        </tbody>
    </table>
</div>
<div id="mainModal">
    {% include "Server/partial/popuppaging.html" %}
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name" class="control-label">名称:</label>
                        <input type="text" maxlength="30" class="form-control" required name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="sequence" class="control-label">顺序:</label>
                        <input type="number" maxlength="10" class="form-control" name="sequence" id="sequence" value="0">
                    </div>
                    <div class="form-group">
                        <label for="goodType" class="control-label">种类:</label>
                        <select class="form-control" name="goodType" id="goodType"></select>
                    </div>
                    <div class="form-group">
                        <label for="goodPrice" class="control-label">价格:</label>
                        <input type="text" maxlength="20" class="form-control" name="goodPrice" id="goodPrice" value="0">
                    </div>
                    <div class="form-group">
                        <label for="img" class="control-label">图标:</label>
                        <input type="text" maxlength="30" class="form-control" name="img" id="img">
                    </div>
                    <input type="hidden" class="form-control" name="id" id="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnSave" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/default/assets/js/Server/goodList.js"></script>
{% endblock %}