{% extends "Server/partial/main_shop.html" %} {% block left %} {% include "Server/partial/shopSetting.html" %} {%
endblock
%} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
    <input type="hidden" id="orderId" value="{{orderId}}">
</div>
<div class="toolbar">
    <div class="toolbar-list">
        <button id="btnPrint" class="btn btn-default btn-sm">打印</button>
    </div>
</div>
<div class="content mainModal">
    <div class="row">
        <div class="col-md-24 title">订单号：<span class="orderId"></span></div>
    </div>
    <div class="row">
        <div class="col-md-24 title">订单时间：<span class="orderDate"></span></div>
    </div>
    <div class="row">
        <div class="col-md-6 title">总金额：<span class="total"></span></div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:150px">商品名称</th>
                <th style="width:100px">数量</th>
                <th style="width:100px">单价</th>
                <th style=""></th>
            </tr>
        </thead>
        <tbody id="gridBody">
        </tbody>
    </table>
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-dialog" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <ul class="orderDetail images">
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/default/assets/js/Server/orderDetail.js"></script>
{% endblock %}