{% extends "Server/partial/main_shop.html" %} {% block left %} {% include "Server/partial/shopSetting.html" %} {%
endblock
%} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name" class="control-label">名称:</label>
                        <input type="text" maxlength="30" class="form-control" name="Name" id="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" id="btnSearch" class="btn btn-primary panelButton">查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="toolbar">
    <div class="toolbar-list">
    </div>
</div>
<div class="content mainModal">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:150px;">订单Id</th>
                <th style="width:150px;">下单时间</th>
                <th style="width:150px;">订单状态</th>
                <th style="width:150px;">支付状态</th>
                <th style="width:150px;">订单金额</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="gridBody">
        </tbody>
    </table>
</div>
<div id="mainModal">
    <input type="hidden" id="total" value="0" />
    <input type="hidden" id="page" value="0" /> {% include "Server/partial/popuppaging.html" %}
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<script type="text/javascript" src="/default/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/default/assets/js/Server/shopOrderList.js"></script>
{% endblock %}