{% extends "Server/partial/main.html" %}
{% block left %} {% include "Server/partial/basicSetting.html" %} {% endblock
%} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="toolbar">
    <div class="toolbar-list">
        <button id="btnSave" class="btn btn-default btn-sm">保存</button>
    </div>
</div>
<div class="content mainModal flatedit">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name" class="control-label">名称:</label>
                <input type="text" maxlength="30" class="form-control" name="name" id="name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="control-label">描述:</label>
                <input type="text" maxlength="100" class="form-control" name="description" id="description">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="control-label">背景图:</label>
                <div>
                    <img src="/uploads/images/bg.jpg" width="50px" />
                </div>
                <div>
                    <input name="bgImage" id='bgImage' style="display:inline-block;" accept="image/jpeg" type='file' />
                    <button id="btnBgImageUpload" class="btn btn-default btn-sm">上传</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="control-label">广告图:</label>
                <div>
                    <img src="/uploads/images/front.jpg" width="200px" />
                </div>
                <div>
                    <input name="advImage" id='advImage' style="display:inline-block;" accept="image/jpeg" type='file' />
                    <button id="btnAdvImageUpload" class="btn btn-default btn-sm">上传</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="control-label">广告片:</label>
                <div>
                    <video id="video" controls="controls" width="200px" src="/uploads/videos/adv.mp4"></video>
                </div>
                <div>
                    <input name="advVideo" id='advVideo' style="display:inline-block;" accept="video/mp4" type='file' />
                    <button id="btnAdvVideoUpload" class="btn btn-default btn-sm">上传</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<script type="text/javascript" src="/default/assets/js/Server/siteInfoList.js"></script>
{% endblock %}