<div class="title">基本设置</div>
<ul class="nav nav-pills nav-stacked">
    <li id="left_btnSchool" role="presentation">校区设置</li>
    <li id="left_btnGrade" role="presentation">年级设置</li>
    <li id="left_btnClassroom" role="presentation">教室设置</li>
    <li id="left_btnExamroom" role="presentation">考场设置</li>
    <li id="left_btnTeacher" role="presentation">老师设置</li>
    <li id="left_btnYear" role="presentation">年度设置</li>
    <li role="presentation" class="block"></li>
    <li role="presentation" id="left_btnAdmin">管理员设置</li>
    <li role="presentation" class="block"></li>
    <li role="presentation" id="left_btnWeekType">上课星期几</li>
    <li role="presentation" id="left_btnTimeType">上课时间段</li>
</ul>
<script type="text/javascript" src="/default/assets/js/Server/basicSetting.js?v=1.0"></script>