<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>百分百</title>
    <link rel="stylesheet" href="/default/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/default/assets/css/admin.css">
    <script type="text/javascript" src="/default/assets/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/default/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/default/assets/js/index.js"></script>
</head>

<body>

    <form id="form1" name="directFrm" method="post" action="generator">
        <div style="width:200px; margin: 0 auto;">
            <div>{{ title }}</div>
            <div>对象名称：<input type="text" name="objId" maxlength="50" size="25" value="" style="color:#000000;font-size:14px;"></div>
            <div><input type="submit" name="button" id="button" value="提交" /></div>
        </div>
    </form>
</body>

</html>