<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>百分百</title>
    <link rel="stylesheet" href="/default/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/default/assets/css/admin.css">
    <script type="text/javascript" src="/default/assets/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/default/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/default/assets/js/Server/index.js"></script>
    <script type="text/javascript" src="/default/assets/js/Test/generator.js"></script>
</head>

<body>
    <form id="form1" name="directFrm">
        <div style="width:200px; margin: 0 auto;">
            <div>{{ title }}</div>
            <div>对象名称：<input type="text" name="objId" id="objId" maxlength="50" size="25" value=""
                    style="color:#000000;font-size:14px;"></div>
            <div><input type="button" name="button1" id="button1" value="生成db" /></div>
            <div><input type="button" name="button2" id="button2" value="生成logic" /></div>
            <div>拷贝to路径：<input type="text" name="topath" id="topath" maxlength="200" size="25" value=""
                    style="color:#000000;font-size:14px;"></div>
            <div><input type="button" name="button3" id="button3" value="copy" /></div>
        </div>
    </form>
</body>

</html>