<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>百分百</title>
    <link rel="stylesheet" href="/default/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/default/assets/css/admin.css">
    <script type="text/javascript" src="/default/assets/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/default/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/default/assets/js/index.js"></script>
</head>

<body>
    <form id="form1" name="directFrm" method="post" action="test">
        <div style="width:200px; margin: 0 auto;">
            <div>订单编号：<input type="text" name="orderId" maxlength="50" size="25" value="201796064395" style="color:#000000;font-size:14px;"></div>
            <div>付款金额：<input type="text" name="orderAmount" maxlength="50" size="18" style="color:#000000;font-size:14px;" value="0.01"></div>
            <div>简要说明：<textarea name="body1" cols="40" rows="5" id="remark2" font="" style="color:#000000;font-size:14px;">测试商品</textarea></div>
            <div><input type="submit" name="button" id="button" value="提交" /></div>
        </div>
    </form>
</body>

</html>