<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>百分百</title>
    <link rel="stylesheet" href="/default/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/default/assets/css/admin.css">
    <script type="text/javascript" src="/default/assets/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/default/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/default/assets/js/index.js"></script>
</head>

<body>

    <form id="form1" name="directFrm">
        <div style="width:200px; margin: 0 auto;">
            <div>{{ title }}</div>
            <div>次数：<input type="text" name="count" id="count" maxlength="50" size="25" value="" style="color:#000000;font-size:14px;"></div>
            <div><input type="button" name="button" id="button" value="提交" /></div>
            <div id="result"></div>
        </div>
    </form>
    <script>
        $("#button").on("click", function() {
            // for (var i = 0; i < parseInt($("#count").val()); i++) {
            //     selfAjax("post", "/dbPressure", {
            //         counts: i
            //     }, function(data) {
            //         var iStr = $("#result").text() + ',' + data.counts;
            //         $("#result").text(iStr);
            //     })
            // }
        });
    </script>
</body>

</html>